* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  outline: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu, button {
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #666;
  text-align: left;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  /* 3 */
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

a {
  color: #45aded;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
  color: #1489d1;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

/* flex */
.lui-flex, .lui-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lui-flex--item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* row*/
.lui-row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* col */
.lui-col-1, .lui-col-2, .lui-col-3, .lui-col-4, .lui-col-5, .lui-col-6, .lui-col-7, .lui-col-8, .lui-col-9, .lui-col-10, .lui-col-11, .lui-col-12, .lui-col,
.lui-col-auto, .lui-col-sm-1, .lui-col-sm-2, .lui-col-sm-3, .lui-col-sm-4, .lui-col-sm-5, .lui-col-sm-6, .lui-col-sm-7, .lui-col-sm-8, .lui-col-sm-9, .lui-col-sm-10, .lui-col-sm-11, .lui-col-sm-12, .lui-col-sm,
.lui-col-sm-auto, .lui-col-md-1, .lui-col-md-2, .lui-col-md-3, .lui-col-md-4, .lui-col-md-5, .lui-col-md-6, .lui-col-md-7, .lui-col-md-8, .lui-col-md-9, .lui-col-md-10, .lui-col-md-11, .lui-col-md-12, .lui-col-md,
.lui-col-md-auto, .lui-col-lg-1, .lui-col-lg-2, .lui-col-lg-3, .lui-col-lg-4, .lui-col-lg-5, .lui-col-lg-6, .lui-col-lg-7, .lui-col-lg-8, .lui-col-lg-9, .lui-col-lg-10, .lui-col-lg-11, .lui-col-lg-12, .lui-col-lg,
.lui-col-lg-auto, .lui-col-xl-1, .lui-col-xl-2, .lui-col-xl-3, .lui-col-xl-4, .lui-col-xl-5, .lui-col-xl-6, .lui-col-xl-7, .lui-col-xl-8, .lui-col-xl-9, .lui-col-xl-10, .lui-col-xl-11, .lui-col-xl-12, .lui-col-xl,
.lui-col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
}

.lui-col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}

.lui-col-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.lui-col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.lui-col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.lui-col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.lui-col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.lui-col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.lui-col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.lui-col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.lui-col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.lui-col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.lui-col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.lui-col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.lui-col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .lui-col-sm {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .lui-col-sm-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .lui-col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .lui-col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .lui-col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .lui-col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .lui-col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .lui-col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .lui-col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .lui-col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .lui-col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .lui-col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .lui-col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .lui-col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .lui-col-md {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .lui-col-md-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .lui-col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .lui-col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .lui-col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .lui-col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .lui-col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .lui-col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .lui-col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .lui-col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .lui-col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .lui-col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .lui-col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .lui-col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .lui-col-lg {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .lui-col-lg-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .lui-col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .lui-col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .lui-col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .lui-col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .lui-col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .lui-col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .lui-col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .lui-col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .lui-col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .lui-col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .lui-col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .lui-col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .lui-col-xl {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .lui-col-xl-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .lui-col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .lui-col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .lui-col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .lui-col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .lui-col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .lui-col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .lui-col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .lui-col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .lui-col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .lui-col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .lui-col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .lui-col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Flex variation */
.lui-flex-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.lui-flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.lui-flex-row-reverse {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
}

.lui-flex-column-reverse {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: column-reverse !important;
          flex-direction: column-reverse !important;
}

.lui-flex-wrap {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.lui-flex-nowrap {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.lui-flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
      flex-wrap: wrap-reverse !important;
}

.lui-justify-content-start {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.lui-justify-content-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.lui-justify-content-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.lui-justify-content-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.lui-justify-content-around {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.lui-align-items-start {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.lui-align-items-end {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.lui-align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.lui-align-items-baseline {
  -webkit-box-align: baseline !important;
      -ms-flex-align: baseline !important;
          align-items: baseline !important;
}

.lui-align-items-stretch {
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important;
}

.lui-align-content-start {
  -ms-flex-line-pack: start !important;
      align-content: flex-start !important;
}

.lui-align-content-end {
  -ms-flex-line-pack: end !important;
      align-content: flex-end !important;
}

.lui-align-content-center {
  -ms-flex-line-pack: center !important;
      align-content: center !important;
}

.lui-align-content-between {
  -ms-flex-line-pack: justify !important;
      align-content: space-between !important;
}

.lui-align-content-around {
  -ms-flex-line-pack: distribute !important;
      align-content: space-around !important;
}

.lui-align-content-stretch {
  -ms-flex-line-pack: stretch !important;
      align-content: stretch !important;
}

.lui-align-self-auto {
  -ms-flex-item-align: auto !important;
      align-self: auto !important;
}

.lui-align-self-start {
  -ms-flex-item-align: start !important;
      align-self: flex-start !important;
}

.lui-align-self-end {
  -ms-flex-item-align: end !important;
      align-self: flex-end !important;
}

.lui-align-self-center {
  -ms-flex-item-align: center !important;
      align-self: center !important;
}

.lui-align-self-baseline {
  -ms-flex-item-align: baseline !important;
      align-self: baseline !important;
}

.lui-align-self-stretch {
  -ms-flex-item-align: stretch !important;
      align-self: stretch !important;
}

/* panel */
.lui-panel {
  position: relative;
  background-color: #fff;
  margin-top: 10px;
  overflow: hidden;
}

.lui-panel--hd {
  padding: 14px 15px 10px;
  color: #999;
  font-size: 13px;
  position: relative;
}

.lui-panel--hd:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #ddd;
  color: #ddd;
  -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
          transform: scaleY(0.5);
}

/* form */
.lui-form--label {
  text-align: right;
  vertical-align: middle;
  float: left;
  font-size: 14px;
  color: #606266;
  line-height: 40px;
  padding: 0 12px 0 0;
}

.lui-input {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 100%;
}

.lui-input--inner {
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}

input.lui-input--inner {
  -webkit-appearance: none;
}

.lui-select .lui-input--inner {
  cursor: pointer;
}

.lui-input-suffix .lui-input--inner {
  padding-right: 30px;
}

.lui-input-md .lui-input--inner {
  height: 36px;
  line-height: 36px;
}

.lui-input-sm .lui-input--inner {
  height: 32px;
  line-height: 32px;
}

/* list */
.lui-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.lui-list--item {
  position: relative;
  display: block;
  padding: 10px 20px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.lui-list--item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.lui-list--item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.lui-list--item:focus, .lui-list--item:hover {
  text-decoration: none;
}

.lui-list--item.disabled, .lui-list--item:disabled {
  color: #999;
  background-color: #fff;
}

.lui-list--item.active {
  z-index: 2;
  color: #fff;
  background-color: #45aded;
  border-color: #45aded;
}

.lui-list--item_action {
  width: 100%;
  color: #333;
  text-align: inherit;
}

.lui-list--item_action:focus, .lui-list--item_action:hover {
  color: #333;
  text-decoration: none;
  background-color: #f9f9f9;
}

.lui-list--item_action:active {
  color: #666;
  background-color: #ddd;
}

.lui-list--item-title {
  font-size: 16px;
}

.lui-list--item-subtitle,
.lui-list--item-title {
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  color: #28313b;
}

.lui-list--item-subtitle {
  font-size: inherit;
}

.lui-list--item-subtitle > a,
.lui-list--item-title > a,
a.lui-list--item-subtitle,
a.lui-list--item-title {
  color: #3d464f;
}

.lui-list--item-subtitle > a:focus,
.lui-list--item-subtitle > a:hover,
.lui-list--item-title > a:focus,
.lui-list--item-title > a:hover,
a.lui-list--item-subtitle:focus,
a.lui-list--item-subtitle:hover,
a.lui-list--item-title:focus,
a.lui-list--item-title:hover {
  color: #28313b;
  text-decoration: none;
}

.lui-list--item-text {
  margin-bottom: 0;
  line-height: 1.5;
  color: #686f76;
}

.lui-list--item_flex,
.lui-list--item_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lui-list--item_flex .lui-list--item_figure,
.lui-list--item_media .lui-list--item_figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lui-list--item_flex .lui-list--item_bd,
.lui-list--item_media .lui-list--item_bd {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
}

.lui-list--item_flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lui-list--item_meida {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.list-group-bordered .list-group-header {
  border-top: 0;
}

.list-group-bordered .list-group-item {
  border-color: rgba(19, 29, 40, 0.125);
}

.list-group-divider .list-group-item {
  margin-top: 0;
  padding: 0;
  border-bottom: 0;
}

.list-group-divider .list-group-item.active {
  border-color: transparent;
}

.list-group-divider .list-group-item:not(:first-child) > .list-group-item-body, .list-group-divider .list-group-item:not(:first-child) > .list-group-item-figure:last-child {
  border-top: 1px solid rgba(19, 29, 40, 0.125);
}

.list-group-divider .list-group-item-figure {
  padding: .75rem 1rem;
}

.list-group-divider .list-group-item-body {
  padding: .75rem 0;
}

.list-group-divider .list-group-item-body:first-child {
  padding-left: 1rem;
}

.list-group-divider .list-group-item-body:last-child {
  padding-right: 1rem;
}

.list-group-media {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.list-group-media .list-group-item {
  margin-bottom: 0;
  padding: 0;
  border: 0;
  background-color: #fff;
  border-radius: .25rem;
  -webkit-box-shadow: 0 0 0 1px rgba(61, 70, 79, 0.05), 0 1px 3px 0 rgba(61, 70, 79, 0.15);
  box-shadow: 0 0 0 1px rgba(61, 70, 79, 0.05), 0 1px 3px 0 rgba(61, 70, 79, 0.15);
}

.list-group-media .list-group-item:not(:first-child) {
  margin-top: 1rem;
}

.list-group-media .list-group-item-action:focus, .list-group-media .list-group-item-action:hover {
  background-color: #fff;
}

.list-group-media .list-group-item-figure {
  position: relative;
  padding: 0;
  width: 12rem;
  max-width: 40%;
  overflow: hidden;
}

.list-group-media .list-group-item-figure > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  max-width: 200%;
}

.list-group-media .list-group-item-body {
  padding: 1.5rem 1rem;
}

.list-group-media .list-group-item-title {
  margin-bottom: .5rem;
  font-weight: 700;
}

/* button */
.lui-btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  -webkit-appearance: none;
  text-align: center;
  outline: none;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

.lui-btn:focus, .lui-btn:hover {
  text-decoration: none;
}

.lui-btn:focus, .lui-btn.focus {
  outline: 0;
}

.lui-btn.disabled, .lui-btn:disabled {
  opacity: .65;
}

.lui-btn:not([disabled]):not(.disabled):active, .lui-btn:not([disabled]):not(.disabled).active {
  background-image: none;
}

.lui-btn-link {
  font-weight: 400;
  color: #45aded;
  background-color: transparent;
}

.lui-btn-link:hover {
  color: #1489d1;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}

.lui-btn-link:focus, .lui-btn-link.focus {
  text-decoration: underline;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.lui-btn-link:disabled, .lui-btn-link.disabled {
  color: #999;
}

.lui-btn--default,
.lui-btn-outline--default {
  color: #333;
  background-color: transparent;
  border-color: #ddd;
}

.lui-btn--default:hover,
.lui-btn-outline--default:hover {
  color: #333;
  background-color: #ddd;
  border-color: #ddd;
}

.lui-btn--primary {
  color: #fff;
  background-color: #45aded;
  border-color: #45aded;
}

.lui-btn--primary:hover {
  color: #fff;
  background-color: #229eea;
  border-color: #1799e9;
}

.lui-btn--primary.disabled, .lui-btn--primary:disabled {
  background-color: #45aded;
  border-color: #45aded;
}

.lui-btn--primary:not([disabled]):not(.disabled):active, .lui-btn--primary:not([disabled]):not(.disabled).active,
.show > .lui-btn--primary.dropdown-toggle {
  color: #fff;
  background-color: #1799e9;
  border-color: #1591dd;
}

.lui-btn--secondary {
  color: #111;
  background-color: #999;
  border-color: #999;
}

.lui-btn--secondary:hover {
  color: #fff;
  background-color: #868686;
  border-color: gray;
}

.lui-btn--secondary.disabled, .lui-btn--secondary:disabled {
  background-color: #999;
  border-color: #999;
}

.lui-btn--secondary:not([disabled]):not(.disabled):active, .lui-btn--secondary:not([disabled]):not(.disabled).active,
.show > .lui-btn--secondary.dropdown-toggle {
  color: #fff;
  background-color: gray;
  border-color: #797979;
}

.lui-btn--success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.lui-btn--success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.lui-btn--success.disabled, .lui-btn--success:disabled {
  background-color: #28a745;
  border-color: #28a745;
}

.lui-btn--success:not([disabled]):not(.disabled):active, .lui-btn--success:not([disabled]):not(.disabled).active,
.show > .lui-btn--success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.lui-btn--info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.lui-btn--info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.lui-btn--info.disabled, .lui-btn--info:disabled {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.lui-btn--info:not([disabled]):not(.disabled):active, .lui-btn--info:not([disabled]):not(.disabled).active,
.show > .lui-btn--info.dropdown-toggle {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}

.lui-btn--warning {
  color: #111;
  background-color: #ffc107;
  border-color: #ffc107;
}

.lui-btn--warning:hover {
  color: #111;
  background-color: #e0a800;
  border-color: #d39e00;
}

.lui-btn--warning.disabled, .lui-btn--warning:disabled {
  background-color: #ffc107;
  border-color: #ffc107;
}

.lui-btn--warning:not([disabled]):not(.disabled):active, .lui-btn--warning:not([disabled]):not(.disabled).active,
.show > .lui-btn--warning.dropdown-toggle {
  color: #111;
  background-color: #d39e00;
  border-color: #c69500;
}

.lui-btn--danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.lui-btn--danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.lui-btn--danger.disabled, .lui-btn--danger:disabled {
  background-color: #dc3545;
  border-color: #dc3545;
}

.lui-btn--danger:not([disabled]):not(.disabled):active, .lui-btn--danger:not([disabled]):not(.disabled).active,
.show > .lui-btn--danger.dropdown-toggle {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}

.lui-btn--dark {
  color: #fff;
  background-color: #666;
  border-color: #666;
}

.lui-btn--dark:hover {
  color: #fff;
  background-color: #535353;
  border-color: #4d4d4d;
}

.lui-btn--dark.disabled, .lui-btn--dark:disabled {
  background-color: #666;
  border-color: #666;
}

.lui-btn--dark:not([disabled]):not(.disabled):active, .lui-btn--dark:not([disabled]):not(.disabled).active,
.show > .lui-btn--dark.dropdown-toggle {
  color: #fff;
  background-color: #4d4d4d;
  border-color: #464646;
}

.lui-btn-outline--primary {
  color: #45aded;
  background-color: transparent;
  background-image: none;
  border-color: #45aded;
}

.lui-btn-outline--primary:hover {
  color: #fff;
  background-color: #45aded;
  border-color: #45aded;
}

.lui-btn-outline--primary.disabled, .lui-btn-outline--primary:disabled {
  color: #45aded;
  background-color: transparent;
}

.lui-btn-outline--primary:not([disabled]):not(.disabled):active, .lui-btn-outline--primary:not([disabled]):not(.disabled).active,
.show > .lui-btn-outline--primary.dropdown-toggle {
  color: #fff;
  background-color: #45aded;
  border-color: #45aded;
}

.lui-btn-outline--secondary {
  color: #999;
  background-color: transparent;
  background-image: none;
  border-color: #999;
}

.lui-btn-outline--secondary:hover {
  color: #fff;
  background-color: #999;
  border-color: #999;
}

.lui-btn-outline--secondary.disabled, .lui-btn-outline--secondary:disabled {
  color: #999;
  background-color: transparent;
}

.lui-btn-outline--secondary:not([disabled]):not(.disabled):active, .lui-btn-outline--secondary:not([disabled]):not(.disabled).active,
.show > .lui-btn-outline--secondary.dropdown-toggle {
  color: #fff;
  background-color: #999;
  border-color: #999;
}

.lui-btn-outline--success {
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}

.lui-btn-outline--success:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.lui-btn-outline--success.disabled, .lui-btn-outline--success:disabled {
  color: #28a745;
  background-color: transparent;
}

.lui-btn-outline--success:not([disabled]):not(.disabled):active, .lui-btn-outline--success:not([disabled]):not(.disabled).active,
.show > .lui-btn-outline--success.dropdown-toggle {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.lui-btn-outline--info {
  color: #17a2b8;
  background-color: transparent;
  background-image: none;
  border-color: #17a2b8;
}

.lui-btn-outline--info:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.lui-btn-outline--info.disabled, .lui-btn-outline--info:disabled {
  color: #17a2b8;
  background-color: transparent;
}

.lui-btn-outline--info:not([disabled]):not(.disabled):active, .lui-btn-outline--info:not([disabled]):not(.disabled).active,
.show > .lui-btn-outline--info.dropdown-toggle {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.lui-btn-outline--warning {
  color: #ffc107;
  background-color: transparent;
  background-image: none;
  border-color: #ffc107;
}

.lui-btn-outline--warning:hover {
  color: #fff;
  background-color: #ffc107;
  border-color: #ffc107;
}

.lui-btn-outline--warning.disabled, .lui-btn-outline--warning:disabled {
  color: #ffc107;
  background-color: transparent;
}

.lui-btn-outline--warning:not([disabled]):not(.disabled):active, .lui-btn-outline--warning:not([disabled]):not(.disabled).active,
.show > .lui-btn-outline--warning.dropdown-toggle {
  color: #fff;
  background-color: #ffc107;
  border-color: #ffc107;
}

.lui-btn-outline--danger {
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
}

.lui-btn-outline--danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.lui-btn-outline--danger.disabled, .lui-btn-outline--danger:disabled {
  color: #dc3545;
  background-color: transparent;
}

.lui-btn-outline--danger:not([disabled]):not(.disabled):active, .lui-btn-outline--danger:not([disabled]):not(.disabled).active,
.show > .lui-btn-outline--danger.dropdown-toggle {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.lui-btn-outline--dark {
  color: #666;
  background-color: transparent;
  background-image: none;
  border-color: #666;
}

.lui-btn-outline--dark:hover {
  color: #fff;
  background-color: #666;
  border-color: #666;
}

.lui-btn-outline--dark.disabled, .lui-btn-outline--dark:disabled {
  color: #666;
  background-color: transparent;
}

.lui-btn-outline--dark:not([disabled]):not(.disabled):active, .lui-btn-outline--dark:not([disabled]):not(.disabled).active,
.show > .lui-btn-outline--dark.dropdown-toggle {
  color: #fff;
  background-color: #666;
  border-color: #666;
}

.lui-btn--md {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1;
}

.lui-btn--md.is-round {
  border-radius: 20px;
}

.lui-btn--sm {
  padding: 9px 15px;
  font-size: 12px;
  line-height: 1;
}

.lui-btn--sm.is-round {
  border-radius: 20px;
}

.lui-btn.is-circle {
  padding: 12px;
  border-radius: 50%;
}

.lui-btn--md.is-circle {
  padding: 8px;
}

.lui-btn--sm.is-circle {
  padding: 6px;
}

.lui-btn.is-round {
  border-radius: 20px;
}

/* card */
.lui-card {
  font-size: 14px;
  position: relative;
  overflow: hidden;
  margin: 10px;
  border-radius: 4px;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(51, 51, 51, 0.05);
          box-shadow: 0px 0px 30px 0px rgba(51, 51, 51, 0.05);
}

.lui-card--shadow {
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}

.lui-card img {
  display: block;
  width: 100%;
}

.lui-card--hd {
  display: block;
  position: relative;
  padding: 20px;
}

.lui-card--hd_bb {
  padding: 18px 20px;
  border-bottom: 1px solid #ddd;
}

.lui-card--title {
  display: block;
  position: relative;
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.lui-card--subtitle {
  display: block;
  position: relative;
  color: #999;
  margin: 0;
  padding: 0;
  font-size: 12px;
  letter-spacing: .4px;
  text-transform: uppercase;
}

.lui-card--title + .lui-card--subtitle,
.lui-card--subtitle + .lui-card--title {
  margin-top: 4px;
}

.lui-card--content {
  display: block;
  position: relative;
  font-size: 14px;
}

.lui-card--title + .lui-card--content,
.lui-card--subtitle + .lui-card--content {
  margin-top: 10px;
}

.lui-card--content_inner {
  position: relative;
  padding: 20px;
}

.lui-card--ft {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 44px;
  padding: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 13px;
  color: #999;
}

.lui-card--ft:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #c7c7c7;
  color: #c7c7c7;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
          transform: scaleY(0.5);
}

/* media-box */
.lui-media-box {
  padding: 20px 20px;
  position: relative;
}

.lui-media-box:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #ddd;
  color: #ddd;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
          transform: scaleY(0.5);
  left: 20px;
}

.lui-media-box:first-child:before {
  display: none;
}

a.lui-media-box {
  color: #666;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a.lui-media-box:active {
  background-color: #ddd;
}

.lui-media-box--title {
  font-weight: 400;
  font-size: 17px;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  word-wrap: break-word;
  word-break: break-all;
}

.lui-media-box--desc {
  font-size: 13px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.lui-media-box--text .lui-media-box--title {
  margin-bottom: 8px;
}

.lui-media-box--graphic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lui-media-box--graphic .lui-media-box--hd {
  margin-right: 10px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.lui-media-box--graphic .lui-media-box--thumb {
  width: 100%;
  max-height: 100%;
  vertical-align: top;
}

.lui-media-box--graphic .lui-media-box--content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;
}

/* utilities */
.is-hover-shadow:hover {
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}

.is-shadow {
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}

.is-circle {
  padding: 20px;
  border-radius: 50%;
}

/*# sourceMappingURL=E:/LUI/maps/lui.css.map */
